body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


a {
  text-decoration: none;
}

.inner-page {
  list-style: none;
  background-color: #849d8f;
}

.layout_positioner {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 26px;
}
.container-map {
  width: 1200px;
  margin: 0 auto;
}


/* Menu */
header li {
  list-style: none;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu {
  width: 349px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-left: 24px;
}


.header-link {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #ffffff;

}

.catalog-link:hover,
.catalog-link:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
}

/*    ICONS ENTER,Search and etc */
.functional-icons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.header-icon {
  margin-left: 10px;
  color: #ffffff;
  background-color: #b0c0b7;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
}

/* ADD-Menu */
.new {
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid #000000;
  list-style: none;

}

.add-menu {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  list-style: none;
}

.add-link {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.add-menu li:hover,
.add-menu li:focus {
  background-color: #fbded8;
}



/* HEADING CONTENT */
.working-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.working-time a {
  color: #ffffff;
  font-size: 22px;

}

.slides {
  list-style: none;
}

.slides p {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;

}

.slides .button {
  font-weight: 700;
  font-size: 32px;
}
.berries-box {
  display: flex;
  flex-direction: row;



}

.raspberry {
  background-color: #620014;
  background-image: url("../img/raspeberry.png");
  background-repeat: no-repeat;
  width: 560px;
  margin-right:25px ;
}


.raspberry h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;

}

.raspberry p {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}



.gifted-chocolate {
  background-color: #7f5c4d;
  background-image: url("../img/chocolate-back.png");
  background-repeat: no-repeat;
    width: 560px;
}


.gifted-chocolate h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;

}

.gifted-chocolate p {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}




/* Ice cream on the main page */
.ice-cream-main {
  list-style: none;
  padding: 0;
  margin: 0 -13px;

}
.ice-cream-main li {
 width: 267px;
  text-align: center;
  margin: 0 13px 40px;
}

.ice-cream-main a {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;

}


.ice-cream-main b {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
}

.ice-cream-main span {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}



/*  Advantages Glaccy   */
.sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.advantages {
  background-color: #fbded8;
  background-image: url("../img/waffle.png");
  width: 1150px;
  margin-bottom: 40px;

}
.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 21px 27px 21px;

}

.advantages p {
  color: #323232;
  font-size: 24px;
  font-weight: 500;

}
.advantages .first-block {
  margin-right: 26px;
}
.advantages .first-line {
  margin-bottom: 35px;
}

.advantages li {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  width: 475px;
  


}

/* Секция с клубничами */


.blog {
  background-color: #ffffff;
  background-image: url("../img/fruits.png");
  background-repeat: no-repeat;
  width: 560px;

}

.blog h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

/* SUBSCRIPRION */


.subscription {
  color: #ffffff;
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 562px;
  margin-left: 26px;
}

.subscription p {
  color: #323232;
  font-size: 16px;
  font-weight: 400;

}

/*   MAP */
.adress-info {
padding: 0;
margin: 0;

}
.place {
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}

.call-number {
  font-size: 18px;
  font-weight: 700;
  color: #323232;
}




/* FOOTER */
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.flex-made {
  display: flex;
  flex-direction: column;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-info li {
  margin-top: 11px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-media li {
  margin: 0 11px;
}

footer {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  min-height: 103px;
}

footer a {
  color: #ffffff;
  text-decoration: underline;

}

footer li {
  list-style: none;
}

.delivers {
  font-weight: 700;
}



/*                            CATALOG                    */


/* Header */


.nav-catalog a {

  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.nav-catalog .catalog-active {
  background-color: #d07058;
  text-decoration: none;
}

/* Icons */

.catalog-icons {
  color: #ffffff;
  background-color: #b0c0b7;
  font-size: 14px;
  font-weight: 500;
}

.active-icon {
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.basket {
  background-color: #ffffff;
}

.price {
  border-top: 1px solid #000000;
}

.button {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #e84d36;
}



/*     SORT-Catalog */
main li {
  list-style: none;
}

.flex-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.timing {
  display: flex;
  flex-direction: column;
  order: 1;
  font-size: 14px;
  font-weight: bold;


}

.graphic {
  align-self: flex-end;
  margin-bottom: 9px;
}

.timing .phone-number {
  font-size: 22px;
}

.transition {
  padding: 0;
  margin-top: auto;
  order: -1;
  height: auto;
}

.transition li {
  display: inline-block;
  list-style: none;
}

.transition a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}


.transition .unactive {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;

}

.heading {
  order: 2;
  width: 1000px;
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  height: auto;
  margin: 0;

}


}
/* SORT */
.sort-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sorting {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}



.sorting-block label {

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.selection {
  background-color: #aabab0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.selection option {
  color: #000000;
  font-size: 14px;
  font-weight: 400;

}

.selection:hover,
.selection:focus {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 500;

}

.price-slide {
  background-color: #aabab0;
}

.sort-list {
  background-color: #aabab0;
}

.catalog-button {
  border: 2px solid #ffffff;
  background-color: #aabab0;
  color: #ffffff;
}

/* Ice Cream List */
.ice-cream-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ice-cream-list {
  list-style: none;
  padding: 0;
  margin: 0 -13px;
}

.ice-cream-list li {
  width: 267px;
  text-align: center;
  margin: 0 13px 40px;
}


.ice-cream-list a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;


}

.ice-cream-list b {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
}

.ice-cream-list span {
  color: #ffffff;
  font-size: 0.5em;
  font-weight: 700;
}



/* PAGE Number  */
.page-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


}
.page-number li {
margin-left: 22px;
}
.page-number a {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;

}

.page-number .current-page {
  color: #000000;
  background-color: #aabab0;
}
