body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}
img { max-width: 100% }
a { text-decoration: none }
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


a {
  text-decoration: none;
}

.inner-page {
 list-style: none;
  background-color: #849d8f;
}


/* Menu */
header li{
   list-style: none;

}


.header-link {
  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #ffffff;

}

.catalog-link:hover,
.catalog-link:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
}


/* ADD-Menu */
.new {
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid #000000;
   list-style: none;

}

.add-menu {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
   list-style: none;
}

.add-link {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.add-menu li:hover,
.add-menu li:focus {
  background-color: #fbded8;
}

.header-icons {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
   list-style: none;
}


/* HEADING CONTENT */
.working-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.working-time a {
  color: #ffffff;
  font-size: 22px;

}
.slides {
   list-style: none;
}
.slides p {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;

}

.slides .button {
  font-weight: 700;
  font-size: 32px;
}

.raspberry {
  background-color: #620014;
  background-image: url("../img/raspeberry.png");
  background-repeat: no-repeat;
}


.raspberry h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;

}

.raspberry p {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}



.gifted-chocolate {
  background-color: #7f5c4d;
  background-image: url("../img/chocolate-back.png");
   background-repeat: no-repeat;
}


.gifted-chocolate h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;

}

.gifted-chocolate p {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}




/* Ice cream on the main page */
.ice-cream-list{
 list-style: none;

}
.ice-cream-list a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;


}

.ice-cream-list b {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
}

.ice-cream-list span {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
}



/*  Advantages Glaccy   */


.advantages {
  background-color: #fbded8;
  background-image: url("../img/waffle.png");
  
}

.advantages p {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
}

.advantages li {
  color: #323232;
  font-weight: 400;
  font-size: 14px;
   list-style: none;
  

}

/* Секция с клубничами */


.blog {
  background-color: #ffffff;
  background-image: url("../img/fruits.png");
  background-repeat: no-repeat;

}

.blog h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

/* SUBSCRIPRION */


.subscription {
  color: #ffffff;
  background-image: url("../img/whiteback.png");
}

.subscription p {
  color: #323232;
  font-size: 16px;
  font-weight: 400;

}

/*   MAP */
.place {
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}

.call-number {
  font-size: 18px;
  font-weight: 700;
  color: #323232;
}




/* FOOTER */
footer {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

footer a {
  color: #ffffff;
  text-decoration: underline;

}
 footer li {
   list-style: none;
 }
.delivers {
  font-weight: 700;
}



/*                            CATALOG                    */


/* Header */


.nav-catalog a {

  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.nav-catalog .catalog-active {
  background-color: #d07058;
  text-decoration: none;
}

/* Icons */

.catalog-icons {
  color: #ffffff;
  background-color: #b0c0b7;
  font-size: 14px;
  font-weight: 400;
}

.active-icon {
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.basket {
  background-color: #ffffff;
}

.price {
  border-top: 1px solid #000000;
}

.button {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #e84d36;
}



/*     SORT-Catalog */
main li {
   list-style: none;
}
.transition li {
   list-style: none;
}
.transition a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}


.transition .unactive {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;

}

.heading {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}


}
.sorting {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}



.sorting-block label {

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.selection {
  background-color: #aabab0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.selection option {
  color: #000000;
  font-size: 14px;
  font-weight: 400;

}
.selection:hover,
.selection:focus {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 500;

}
.price-slide {
  background-color: #aabab0;
}
.sort-list {
  background-color: #aabab0;
}
.catalog-button {
  border: 2px solid #ffffff;
  background-color: #aabab0;
  color: #ffffff;
}

/* Ice Cream List */
.ice-cream-list a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;


}

.ice-cream-list b {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
}

.ice-cream-list span {
  color: #ffffff;
  font-size: 0.5em;
  font-weight: 700;
}



/* PAGE Number  */
.page-number a {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;

}
.page-number .current-page {
  color: #000000;
  background-color:  #aabab0;
}




